@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');





h2 {
    font-size: 2em;
    text-align: center;
    color: #FBC403;
    margin: auto;
}

img {
    border-radius: 8px;
    margin: auto;
    width: 50%;
    margin: auto;
    
}



.Vote-Average {
    margin: 20px;
    text-align: center;
    color: white;
    font-weight: 900;
    width: 50%;
    margin: auto;
}
.Movie-Overview{
    color: white;
    font-weight: 900;
    margin: auto;
    width: 50%;
}


.movieList{
    display: flex;
    flex-flow: column wrap;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    margin: auto;
}

